<html>
	<head>
		<title>Welcome To My Portfolio!</title>
		<% include ./partials/head %>
		<link rel="stylesheet" href="stylesheets/index.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	</head>
	<body>
		<% include ./partials/nav %>
		<div class="container" id="whole-thing">
			<h1 id="my-name">Wesley Yu</h1>
			<p id="para">Hey there! I'm an aspiring web developer looking for work.<br/>
			Check out what I've done so far!
			</p>
		</div>

<% include ./partials/footer %>